//-----------varivables go here-------
$textColor: #777777;
$bodyColor: #ffffff;
$headerColor: rgba(0, 0, 0, 0.6);
$textColor-2nd: #000018;
$borderColor: #dddddd;
$red: #dd2f31;
$footerColor: #222222;
$textColor-3th: #898989;
$bulletColor: #cccccc;