* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

@import './variables';
@import './mixins';

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    background: #444444;
}

.normal-layout {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.flex {
    display: flex;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    scroll-behavior: smooth;
    header {
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero-img.jpg) center/cover no-repeat;
        background-position: 100% 83%;
        h1, h2, h3, a {
            color: $bodyColor;
            @include maxWidth(992px) {
                background-color: linear-gradient(rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0.2));
            }
        }
        .header-top {
            @include maxWidth(1024px) {
                justify-content: space-between;
            }
            background-color: $headerColor;
            a {
                letter-spacing: 0.001rem;
                color: $textColor;
                transition: all 0.3s;
                &:hover {
                    color: $bodyColor;
                }
            }
            nav {
                width: 100%;
                height: 100%;
                @include hasColumn();
                align-items: center;
                h1 {
                    position: relative;
                    left: -7.4rem;
                    padding: 2.3rem 0;
                    a {
                        display: block;
                        img {
                            vertical-align: middle;
                        }
                    }
                }
                #menu-btn {
                    display: none;
                    @include maxWidth(1023px) {
                        display: block;
                        font-size: 3.3rem;
                    }
                }
                .logo {
                    @include maxWidth(1200px) {
                        transform: scale(.9);
                        @include maxWidth(768px) {
                        transform: scale(.8); 
                        }
                    }
                }
                .navbar {
                    position: relative;
                    top: 2px;
                    left: -63px;
                    .icons-item {
                        display: none;
                    }
                    align-items: center;
                    gap: 5.2rem;
                    a {
                        font-size: 1.6rem;
                        line-height: 2.8rem;
                        display: block;
                    }
                    @include maxWidth(1023px) {
                        display: block;
                        z-index: 99999;
                        position: fixed;
                        top: 0;
                        left: -100%;
                        background-color: rgba(30, 29, 29, 1);
                        height: 100vh;
                        width: 40vw;
                        transition: all .5s;
                        li:first-child {
                            margin-top: 5rem;
                        }
                        a {
                            color: $textColor-3th;
                            width: 100%;
                            text-align: center;
                            font-size: 2.4rem;
                            padding: 3.8rem 0;
                            letter-spacing: .14em;
                            &:hover {
                                color: #000;
                                background-color: rgba($color: #e3dbdb, $alpha: 1.0);
                            }
                        }
                        @include maxWidth(992px) {
                            a {
                                padding: 3rem 0;
                            }
                            @include maxWidth(768px) {
                                width: 50vw;
                                @include maxWidth(545px) {
                                    width: 60vw;
                                    .icons-item {
                                        margin-top: 1rem;
                                        display: block;
                                        display: flex;
                                        justify-content: space-evenly;
                                        a {
                                            display: inline;
                                        }
                                    }
                                }
                                @include maxWidth(450px) {
                                    width: 70vw;
                                }
                                @include maxWidth(360px) {
                                    width: 72vw;
                                }
                            }
                        }
                    }
                }
                .navbar.active-m {
                    left: 0;
                    right: auto;
                }
                .icon-navbar {
                    position: relative;
                    top: 3px;
                    left: -6px;
                    align-items: center;
                    gap: 2.5rem;
                    font-size: 1.6rem;
                    span {
                        border-left: 1px solid rgba($bodyColor, 0.5);
                        overflow: hidden;
                        height: 1.7rem;
                    }
                    @include maxWidth(1200px){
                        @include maxWidth(545px) {
                            opacity: 0;
                            // position: absolute;
                        }
                        font-size: 2.2rem;
                    }
                }
                @include maxWidth(1440px) {
                    .logo {
                        left: -11.7rem;
                    }
                    @include maxWidth(1200px) {
                        .logo {
                            left: -5.7rem;
                        }
                        @include maxWidth(1023px) {
                            .logo {
                                margin-left: 14rem;
                                left: 0;
                            }
                            @include maxWidth(992px) {
                                .logo {
                                    padding: 1rem;
                                    img {
                                        object-fit: scale-down;
                                    }
                                }
                                @include maxWidth(768px) {
                                    .logo {
                                        margin-left: 12rem;
                                    }
                                    @include maxWidth(545px) {
                                        .logo {
                                            margin-left: 11.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hero {
        &-jr {
            position: relative;
            @include maxWidth(992px) {
                .hero-content {
                    width: 60%;
                    h1 {
                        font-size: 2.8rem;
                    }
                    h2 {
                        font-size: 1.8rem;
                        line-height: 3rem;
                    }
                    h3 {
                        font-size: 1rem;
                    }
                }
                @include maxWidth(919px) {
                    flex-direction: column;
                }
            }
            position: relative;
            @include hasColumn;
            width: 100%;
            height: 100%;
            margin-bottom: 31.6rem;
            .hero-content {
                z-index: 9999;
                padding-top: 19.3rem;
                width: 100%;
                flex-basis: 48%;
                h1 {
                    font-size: 6rem;
                    position: relative;
                    left: -3px;
                    top: 1px;
                }
                h2 {
                    font-size: 4rem;
                    line-height: 6rem;
                    position: relative;
                    left: -4px;
                    top: -7px;
                }
                h3 {
                    padding-top: 1.3rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 2.4rem;
                    padding-bottom: 5.4rem;
                    position: relative;
                    top: -1px;
                    left: -1px;
                }
                a {
                    border: 1px solid $bodyColor;
                    padding: 1.5rem 4.7rem;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    box-shadow: inset 0 0 0 0 #ffffff;
                    transition: all 0.6s;
                    display: inline-block;
                    position: relative;
                    top: -1px;
                    &:hover {
                        background-color: var(--body-color);
                        color: rgb(0, 0, 0);
                        box-shadow: inset 400px 0 0 0 #ffffff;
                    }
                }
            }
            .hero-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                @include maxWidth(400px) {
                    top: 10%;
                    @include maxWidth(390px) {
                        top: 20%;
                    }
                    @include maxWidth(365px) {
                        top: 30%;
                    }
                    @include maxWidth(330px) {
                        top: 40%;
                    }
                }
                img {
                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .6) );
                    object-fit: cover;
                    padding-top: 9.2rem;
                    height: auto;
                    max-width: 100%;
                    position: relative;
                    left: 9px;
                    @include maxWidth(1200px) {
                       transform: scale(.9);
                       @include maxWidth(992px) {
                        transform: scale(.8);
                        opacity: .96;
                       }
                       @include maxWidth(880px) {
                            @include maxWidth(545px) {
                                // transform:  scale(.6);
                            }
                       }
                    }
                }
            }
        }
    }
    .category {
        position: relative;
        padding-bottom: 50.7rem;
        @include maxWidth(1200px) {
            padding-bottom: 90rem;
            @include maxWidth(545px) {
                padding-bottom: 240rem;
            }
        }
        .product-category {
            position: absolute;
            flex-wrap: wrap;
            top: -78px;
            max-width: 100%;
            .cat {
                flex-grow: 1;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                background-color: $bodyColor;
                flex-basis: 33%;
                height: 25rem;
                transition: all .1s;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.8rem;
                    margin-bottom: 2rem;
                    margin-top: -0.6rem;
                    position: relative;
                    top: -7px;
                } 
                p {
                    color: $textColor;
                    font-size: 1.4rem;
                    text-align: center;
                    line-height: 2.4rem;
                    margin-bottom: -1.3rem;
                    position: relative;
                    top: -11px;
                }
            }
            .pos-1 {
                order: 1;
                img {
                    object-position: 100% 0%;
                }
            }
            .pos-2 {
                order: 5;
                img {
                    object-position: 100% 100%;
                }
            }
            .pos-3 {
                order: 3;
                img {
                    object-position: 100% 20%;
                }
            }
            .pos-4 {
                h3 {
                    position: relative;
                    top: 1px;
                    left: -1px;
                }
                p {
                    position: relative;
                    top: -4px;
                    left: -1px;
                }
                order: 4;
                h3::before {
                    content: '';
                    display: block;
                    height: 5.5rem;
                    width: 6.8rem;
                    padding-bottom: 3rem;
                    margin: 0 auto;
                    background: url(../img/dumbbells-icon.png) center no-repeat;
                    position: relative;
                    top: -7px;
                }
            }
            .pos-5 {
                order: 2;
                h3::before {
                    content: '';
                    height: 7rem;
                    width: 5.5rem;
                    margin: 0 auto;
                    padding-bottom: 3rem;
                    display: block;
                    background: url(../img/strength-icon.png) center no-repeat;
                    position: relative;
                    top: -8px;
                }
            }
            .pos-6 {
                order: 6;
                h3::before {
                    content: '';
                    margin: 0 auto;
                    height: 7rem;
                    width: 5.5rem;
                    padding-bottom: 3rem;
                    display: block;
                    background: url(../img/power-rack&cage-icon.png) center no-repeat;
                    position: relative;
                    top: -8px;
                }
            }
            @include maxWidth (1440px) {
                .cat {
                    h3::before { 
                        height: 8rem;
                        width: 8rem;
                    }
                }
                @include maxWidth(1198px) {
                    margin: 0 1.5rem;
                    .cat {
                        flex-basis: 50%;
                        height: 30rem;
                        img {
                            object-position: 30% 30%;
                        }
                    }
                    .pos-4 {
                        order: 2;
                    }
                    .pos-2 {
                        order: 4;
                    }
                    @include maxWidth(545px) {
                        .cat {
                            height: 40rem;
                            flex-basis: 100%;
                            background-size: contain;
                            h3::before {
                                height: 9rem;
                                width: 9rem;
                            }
                            p {
                                font-size: 2rem;
                            }
                            img {
                                object-fit: cover;
                                object-position: 100% 10%;
                            }
                        }
                        .pos-1 {
                            order: 1;
                        }
                        .pos-2 {
                            order: 3;
                        }
                        .pos-3 {
                            order: 5;
                        }
                        .pos-4 {
                            order: 2;
                        }
                        .pos-5 {
                            order: 4;
                        }
                        .pos-6 {
                            order : 6;
                        }
                        // @include maxWidth(576px) {
                        //     .cat {
                        //         img {
                        //             object-position: 100% 10%;
                        //         }
                        //     }
                        // }
                    }
                }
            }
        }
    }
    .list-products {
        // padding-bottom: 4.7rem;
        margin-bottom: 1.2rem;
        .tab {
            width: 100%;
            display: flex;
            position: relative;
            p {
                color: $textColor-2nd;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 2.4rem;
                display: inline-block;
                padding: 1.3rem 1.6rem;
                margin-right: .5rem;
                border: 2px solid transparent;
                background-color: $bodyColor;
                &:hover {
                    color: red;
                }
                &.active {
                    color: red;
                }
                @include maxWidth(992px) {
                    font-size: 2.4rem;
                    @include maxWidth(768px) {
                        font-size: 2.8rem;
                    }
                    @include maxWidth(545px) {
                        font-size: 2rem;
                        @include maxWidth (395px) {
                            font-size: 1.6rem;
                        }
                    }
                } 
            }
            .line {
                position: absolute;
                height: .2rem;
                width: 0;
                background: red;
                z-index: 999;
                top: 100%;
                left: 0;
                transition: all .2s;
            }
        }
        #featured {
            visibility: hidden;
        }
        #most-views {
            visibility: hidden;
        }
        .products {
            margin-top: 2.5rem;
            justify-content: space-between;
            visibility: hidden;
            // max-width: 69.5rem;
            &.active-s {
                visibility: visible;
            }
            .product {
                @include col(4);
                cursor: pointer;
                position: relative;
                margin: 1.5rem;
                img {
                    height: 21rem;
                    width: 21rem;
                    object-fit: contain;
                    display: block;
                    margin: 0 auto;
                    transition: all 0.4s;
                    padding: 1.4rem;
                    margin-top: 1.8rem;
                }
                p {
                    padding-top: 4.4rem;
                    margin-left: 2.6rem;
                    color: $textColor;
                    // width: 22rem;
                    font-weight: 500;
                    font-size: 1.4rem;
                }
                span {
                    margin-left: 2.6rem;
                    font-weight: bold;
                    // width: 22rem;
                    display: block;
                    padding-bottom: 2.8rem;
                    font-size: 1.4rem;
                }
                &:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    p {
                        color: #222222;
                    }
                    img {
                        padding: 0px;
                        opacity: .85;
                        z-index: -1;
                    }
                    .icons {
                        opacity: 1;
                    }
                }
                .icons {
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    opacity: 0;
                    z-index: 999;
                    li 
                    {
                        margin-bottom: 1.5rem;
                        a {
                            color: $textColor;
                            position: relative;
                            height: 3.2rem;
                            width: 3.2rem;
                            display: block;
                            border: 1px solid $borderColor;
                            border-radius: 5px 0 5px 0;
                            i {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 1.4rem;
                            }
                            &:hover {
                                background-color: $red;
                                border-color: $red;
                                color: $bodyColor;
                            }
                        }
                    }
                }
                @include maxWidth (768px) {
                    @include col(2);
                    img {
                        height: 25rem;
                        padding: 1.3rem;
                    }
                    p {
                        margin-left: 5rem;
                        font-size: 2rem;
                    }
                    span {
                        margin-left: 5rem;
                        font-size: 2rem;
                    }
                    ul.icons {
                        top : 2rem;
                        right : 10%;
                        li {
                            a {
                                height: 5rem;
                                width: 5rem;
                                i {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                    @include maxWidth(475px) {
                        @include col(1);
                        img {
                            height: 29rem;
                            width: 24rem;
                        }
                        p {
                            font-size: 3rem;
                            margin-left: 20rem;
                        }
                        span{
                            font-size: 3rem;
                            margin-left: 20rem;
                        }
                        ul.icons {
                            right: 7%;
                            top: 4rem; li {
                                a {
                                    height: 6.5rem;
                                    width: 6.5rem;
                                    i {
                                        font-size: 3rem;
                                    }
                                }
                            }
                        }
                        @include maxWidth(545px) {
                            p, span {
                                margin-left: 5rem;
                            }
                        }
                    }
                }
            }
        }
    }


    .testimonials {
        text-align: center;
        position: relative;
        h2 {
            font-size: 3.6rem;
            line-height: 3rem;
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: 3rem;
            height: 3rem;
        }
        padding: 0 1.5rem;
        .testi-wrapper {
            justify-content: center;
            overflow: hidden;
            .btn-swp {
                display: none;
            }
            .swiper-pagination-bullet {
                background-color: $bulletColor;
            }
            .swiper-pagination-bullet-active {
                background-color: $red;
            }
            .testi-content {
                padding: 2.5rem 0;
                .slider {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .avatar {
                        vertical-align: middle;
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    blockquote {
                        padding-top: 2.2rem;
                        color: $textColor;
                        font-size: 1.8rem;
                        line-height: 3rem;
                        padding-bottom: 3rem;
                        max-width: 77rem;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 2.4rem;
                        line-height: 2.4rem;
                        padding-bottom: 1.4rem;
                    }
                    span {
                        text-transform: capitalize;
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        padding-bottom: 4rem;
                        color: $textColor-3th;
                    }
                }
            }
        }
    }

    .hr-2 {
        z-index: -1;
    }

    .brands {
        padding-top: 2.3rem;
        padding-bottom: 2.3rem;
        &-list {
            img {
                width: 100%;
                margin: 15px;
                @include col(6);
                transition: all .4s;
            }
        }
        @include maxWidth(768px) {
            &-list {
                img {
                    @include col(3);
                    transform: scale(.6);
                }
            }
            @include maxWidth(545px) {
                &-list {
                    img {
                        @include col(2);
                        transform: scale(.5);
                    }
                }
            }
            @include maxWidth(450px) {
                &-list {
                    img {
                        transform: scale(.45);
                    }
                }
            }
        }
    }
    footer {
        background-color: $footerColor;
        h3 {
            font-weight: bold;
            text-transform: uppercase;
            color: $bodyColor;
        }
        a {
            color: $textColor;
        }
        p {
            color: $textColor;
            font-size: 1.4rem;
            line-height: 2.4rem;
        }
        .upper-footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 77rem;
            margin: 0 auto;
            img {
                margin-top: 10rem;
                margin-bottom: 3.3rem;
            }
            p  {
                text-align: center;
            }
            ul {
                width: 23rem;
                margin-top: 4.2rem;
                justify-content: space-between;
                margin-bottom: 3.125rem;
                li {
                    a {
                        font-size: 1.8rem;
                        transition: all .4s;
                        &:hover {
                            color: $bodyColor;
                        }
                    }
                }
            }
        }
        .below-footer {
            margin-top: 4.5rem;
            justify-content: space-between;
            margin-bottom: 3.7rem;
            @include maxWidth(450px) {
                justify-content: center;
            }
            .col {
                display: flex;
                justify-content: center;
                margin: 0 15px;
                @include col(4);
                // text-align: center;
                div {
                    display: inline-block;
                    // text-align: left;
                    h3 {
                        font-size: 1.8rem;
                        line-height: 3rem;
                        margin-bottom: 1.8rem;
                    }
                    a {
                        font-size: 1.4rem;
                        line-height: 4rem;
                        display: block;
                        i {
                            margin-right: 1.2rem;
                        }
                        &:hover {
                            color: $bodyColor;
                        }
                    }
                }
                @include maxWidth(1036px) {
                    @include maxWidth(768px) {
                        justify-content: unset;
                        div {
                            text-align: center;
                            margin: 0 auto;
                        }
                        @include col(2);
                        @include maxWidth(450px) {
                            flex-basis: 52%;
                            margin-bottom: 1.5rem;
                            text-align: center;
                            h3 {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .copy-right {
            text-align: center;
            background-color: #111111;
            line-height: 3rem;
            padding: 1rem 0;
        }
    }
}

//media query

@media screen and (max-width: 1440px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 47.5%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 45%;
    }
}